.background {
    -fx-background-color:  #ecf0f1;
}

.button {
    -fx-padding: 5 15 5 15;   
    -fx-background-color: #3c59dc;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-effect: dropshadow( one-pass-box , rgb(85, 113, 116) , 8 , 0.0 , 2 , 0 );
}

.button:hover {
    -fx-background-color: #3a3a3a;
}


.table-view .column-header, .table-view .filler {
    -fx-size: 15;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: rgb(53, 95, 155);
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: rgb(187, 182, 182);
}